DB_NAME=church_cms
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=3306
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=infigotechz@gmail.com
EMAIL_HOST_PASSWORD=yelgsfdimyteydev
DEFAULT_FROM_EMAIL=infigotechz@gmail.com
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
CHURCH_NAME=Grace Church
CHURCH_CURRENCY=₹
